<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>Iniciar sesi&oacute;n</title>
  <meta charset="UTF-8">
  <span th:replace="/public/templates/base.html::head"></span>
  <style>
    html, body {
      height: 100%;
    }
    .card{
      width:50%
    }
    button,a {
      width:100%
    }
    .container, .row.justify-content-center.align-items-center {
      height: 100%;
      min-height: 100%;
    }
  </style>
</head>
<body>
<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="card bg-dark text-white">
      <div class="card-body">
        <form method="post" action="/registrar">
          <div class="mb-3 mt-3">
            <label for="user" class="form-label">Usuario:</label>
            <input type="text" class="form-control" id="user" placeholder="Ingresar usuario" name="user">
          </div>
          <div class="mb-4">
            <label for="pass" class="form-label">Contrase&ntilde;a:</label>
            <input type="password" id="pass" class="form-control" placeholder="Ingresar contraseña" name="pass">
          </div>
          <button type="submit" class="btn btn-success mb-2">Registrar</button>
          <a href="/login" class="btn btn-primary mb-2">Volver</a>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>