<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inicio</title>
    <meta charset="UTF-8">
    <span th:replace="/templates/base.html::head"></span>
    <nav th:replace="/templates/base.html::nav"></nav>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.js"></script>
    <!-- react + styled-components + microlink -->
    <script src="https://cdn.jsdelivr.net/combine/npm/react@16/umd/react.production.min.js,npm/react-dom@16/umd/react-dom.production.min.js,npm/react-is@16/umd/react-is.production.min.js,npm/styled-components@5/dist/styled-components.min.js,npm/@microlink/mql@latest/dist/mql.min.js,npm/@microlink/vanilla@5/dist/microlink.min.js"></script>
</head>
<body>
    <div id="qrcode"></div>
    <div align="center" class="mt-4 p-5 bg-secondary text-white rounded">
        <h1>Ingrese su URL</h1>
        <p>Introduzca su url para acortarla</p>
        <form method="post" action="/url/acortar">
            <div style="width:80%" class="mb-5 mt-5">
                <input type="text" class="form-control form-control-lg" id="url" placeholder="Ingresar URL" name="url">

            </div>
            <button type="submit" class="btn btn-primary btn-lg">Confirmar</button>
        </form>
    </div>
    <span th:if="${resultado and resultado eq 'STATUS:404'}">
        <div align="center" class="mt-4 p-4 bg-dark text-white rounded">
            <h4>RESULTADO: <a id="resultado" th:href="${resultado}"></a></h4>
            <h4 class="mt-4">PREVIEW: <a th:href="${longUrl}" class="link-preview" target="_blank"></a></h4>
            <!--<h4>PREVIEW: <a id="Link" th:href="${Link}" class="link-preview" target="_blank"></a></h4>-->
            <!--         <a href="http://${url.longUrl}" class="link-preview" target="_blank"></a>-->
        </div>
        <script>
            $(document).ready(function(){
                $("#resultado").text(location.hostname + ":" + location.port + "/" + [[${resultado}]]);
            });
        </script>

        <script>
    document.addEventListener('DOMContentLoaded', function (event) {
        microlink('.link-preview',{media: ['audio' , 'iframe' , 'image' , 'logo' , 'screenshot' , 'video'],size: 'normal'})
    })
</script>
    </span>
</body>



</html>